<!DOCTYPE html>
<html>
<head>
    <title>JGore - open source commander</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" >
    <script type="text/javaScript" src="{% static "js/bootstrap.js" %}"></script>
</head>

<body>

<body>
  <div class="container">

    <h1>JGore - projects commander</h1>

<div class="navbar">
  <div class="navbar-inner">
  <ul class="nav">
      <li> <a href="/news">News</a></li>
      <li><a href="/projekty">Projekty</a></li>
      <li><a href="/edukacja">Edukacja</a></li>
      <li><a href="/forum">Forum</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
  </ul>
  </div>
</div>
    {% block content %}
    {% endblock %}
</div>
<p> <a href="jgore.pl> bombardier </a></p>"
</body>

</html>